<!DOCTYPE html>
<html>

<head>
  <title>VISA easyAdvances</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv=“X-UA-Compatible” content=“IE=edge”>
  <!-- favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicons/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicons/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicons/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='images/favicons/site.webmanifest') }}">
  <link rel="mask-icon" href="{{ url_for('static', filename='images/favicons/safari-pinned-tab.svg') }}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <!-- favicons -->
  <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/custom-responsive-style.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <script type="text/javascript" src="{{ url_for('static', filename='script/jquery-3.2.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='script/all-plugins.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='script/plugin-active.js') }}"></script>
  <style>
	table {
	  font-family: arial, sans-serif;
	  border-collapse: collapse;
	  width: 100%;
	}

	td, th {
	  border: 1px solid #dddddd;
	  text-align: left;
	  padding: 8px;
	}

	tr:nth-child(even) {
	  background-color: #dddddd;
	}
</style>
</head>

<body>

  <!-- Contact us section starts here -->
  <section id="ContactUs">
    <div class="container contact-container">
      <h3 class="contact-title">Merchant Profiles</h3>
		<table>
		  <tr>
			<th>Merchant Name</th>
			<th>Merchant City</th>
              <th>Merchant URL</th>
              <th>Store ID</th>
              <th>Merchant ID</th>
              <th>Type</th>
            <th>More Info</th>
		  </tr>
            {% for datapoint in data %}
		  <tr>
			<td>{{ datapoint['visaMerchantName'] }}</td>
            <td>{{ datapoint['merchantCity'] }}</td>
            <td>{{ datapoint['merchantUrl'] }}</td>
            <td>{{ datapoint['visaStoreId'] }}</td>
            <td>{{ datapoint['visaMerchantId'] }}</td>
            <td>{{ datapoint['merchantCategoryCodeDesc'] }}</td>
			<td>
              <a></a>
            </td>
		  </tr>
            {% endfor %}
		</table>
    </div>
  </section>
  <!-- Contact us section ends here -->
  <!-- Footer section starts here -->
  <footer id="Footer">
    <div class="container text-center">
      <div class="footer-text ">
        <p>Have any questions?
          <br class="hidden-lg-down" /> Enter you mail-id and our team will contact you soon!</p>
        <div class="email-box">
          <form action="#" method="post">
            <input required type="email">
            <label for="email">Email</label>
            <input class="submit" type="submit" value="">
          </form>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="copy-right">
              <p>VISA easyAdvances</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-right">
            <div class="social-share">
              <ul>
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-pinterest"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p class="designed">Designed by <a href="https://www.position2.com/" target="_blank">Class3_Group4</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer section ends here -->
</body>

</html>